{% extends 'base.html.twig' %}

{% block body %}
	<h2>Comment reviewed, thank you!</h2>

	<p>Applied transition:
		<b>{{ transition }}</b>
	</p>
	<p>New state:
		<b>{{ comment.state }}</b>
	</p>
{% endblock %}
