{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<h1>{{ mailer_dsn }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                {% if conferences|length > 0 %}
                    {% for conference in conferences %}
                        <a class="btn btn-outline-success mt-4 w-100 py-4 conference-btn" href="{{ path('conference', { slug: conference.slug }) }}">
                            {{ conference ~ ' Conference' }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
